@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #26233c;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
.logo
{
    display:flex;
    justify-content: center;

}
header ul
{
    display:flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a .active
{
    background: #fff;
    color: #26233c;
}
section
{
    position: relative;
    width: 100%; 
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#26233c,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#feathers
{
    mix-blend-mode: screen;
}

#text
{
    position: absolute;
    top: 290px;
    color: #fff;
    white-space: nowrap;
    font-size: 7vw;
    text-align: center;
    z-index: 9;
}#btn
{
text-decoration: none;
display: inline-block;
padding: 8px 30px;
border-radius: 40px;
background: #fff;
color:#26233c; 
font-size: 1.3em;
z-index: 9;
transform: translateY(110px);
}
.sec
{  padding-top: 200px;
 position: relative;
 text-align: center;
 background: #26233c;
}

.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff
}
.sec p
{
    font-size: 1.2em;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    color: #fff
}
/*======= Home =======*/
section{
    position: relative;
    font-size: 1em;
    padding: 30px 150px;
    transition: 0.5s ease;
    transition-property: padding;
}
  
  html{
    scroll-behavior: smooth;
  }
  
  section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
  }
  
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .main-title{
    font-size: 4em;
    margin-bottom: 50px;
    color: #fff;
  }
  
  .content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .content .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 500px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 9px);
  }
  
  .content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .media-icons{
    margin-top: 100px;
  }
  
  .media-icons a{
    color: #fff;
    font-size: 2em;
    margin: 60px;
  }
  
  .section-title{
    font-size: 3em;
    margin-bottom: 80px;
  }
  
  .audience{
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .info{
    width: 700px;
    margin-left: 50px;
  }
  
  .media-info{
    width: 400px;
    margin-left: 50px;
  }
  
  .media-info li{
    list-style: none;
    font-size: 1.4em;
  }
  
  .media-info li a{
    color: #fff;
    text-decoration: none;
  }
  
  .media-info li:not(:last-child){
    margin-bottom: 50px;
  }
  
  .media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
  }
  
  .media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
  }
  footer
  {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      width: 100%;
      background: rgb(178,137,105);
      min-height: 100px;
      padding: 20px 50px;
      justify-content: center;
      margin-top: 100px;
      align-items: center;
      flex-direction: column;
  }
  
  footer .social_icon,
  footer .menu
  {
      position:relative;
      display:flex;
      justify-content:center;
      align-items:center;
      margin: 10px 0;
      flex-wrap:wrap;
  }
  footer .social_icon li,
  footer .menu li
  {
      list-style: none;
      align-items:center;
  }
  footer .social_icon li a
  {
      font-size: 2em;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
  }
  
  footer .social_icon li a:hover
  {
      transform: translateY(-10px);
  }
  
  footer .menu li a
  {
      font-size: 1em;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;
  }
  footer .menu li a:hover
  {
      opacity: 1;
  }
  footer p
  {
      color: #fff;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 0.9em;
  }
  
  footer .wave
  {
      position:absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(images/wave.png);
      background-size: 1000px 100px;
  }
  
  footer .wave#wave1
  {
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animateWave 4s linear infinite;
  }
  
  footer .wave#wave2
  {
      z-index: 999;
      opacity: 0.5;
      bottom: 10px;
      animation: animateWave_02 4s linear infinite;
  }
  
  footer .wave#wave3
  {
      z-index: 1000;
      opacity: 0.2;
      bottom: 15px;
      animation: animateWave 3s linear infinite;
  }
  
  footer .wave#wave4
  {
      z-index: 999;
      opacity: 0.7;
      bottom: 20px;
      animation: animateWave_02 3s linear infinite;
  }
  
  @keyframes animateWave
  {
      0%
      {
          background-position-x: 1000px;
      }
      100%
      {
          background-position-x: 0px;
      }
  }
  
  @keyframes animateWave_02
  {
      0%
      {
          background-position-x: 0px;
      }
      100%
      {
          background-position-x: 1000px;
      }
  }